/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
  background-color: lightblue;
}

main {
  padding-top: 5rem;
}

p {
  font-size: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
}

hr {
  background-color: #000;
  height: 4px;
}

h1 {
  font-size: 5rem;
  text-align: center;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
}

.btn-holder {
  display: flex;
  justify-content: center;
}

button {
  font-size: 2rem;
  padding: 1rem 2rem;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: lightblue;
}

button:disabled {
  color: rgba(0, 0, 0, 0.8);
}

button:hover {
  border: 2px solid darkblue;
  color: lightseagreen;
  background-color: darkblue;
}

@media (max-width: 1600px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  a {
    font-size: 1.7rem;
  }
}

@media (max-width: 1400px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  a {
    font-size: 1.5rem;
  }
}
